.two-split-container {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.full-width-container {}

.centered-half-width-container {}



@media (max-width: 800px) {
    .two-split-container {
        display: flex;
        flex-direction: column;
    }
}