body,
html {
    margin: 0;
    padding: 0;
}

.main {
    background-color: var(--accent-bg);
    width: 800px;
}

.aside {
    background-color: var(--accent-bg);
    width: 450px;
}

@media (max-width: 800px) {

    .main,
    .aside {
        width: 100%;
    }
}